:host {
    display: block;
    overflow: hidden;
    width: calc(100% / 5 - 2rem);
    margin: 1rem;

    .record__artwork {
        width: 100%;
    }

    .record__title {
        font-size: 14px;
        text-align: center;
    }

    .record__artist {
        font-size: 14px;
        text-align: center;
    }
}