:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding-top: 1rem;
    overflow: hidden;
    width: 100%;

    .header__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 64px;
        font-weight: 800;
        letter-spacing: 0.25rem;
        text-transform: uppercase;

        &--detail {
            font-family: 'Gentium Book Basic', serif;
            font-size: 60px;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 0;
            text-transform: none;
        }
    }

    .header__description {
        border-top: 2px solid #222;
        color: #222;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 0 20px 0;
        text-align: center;
        width: calc(100% - 4rem);

        &--detail {
            background: #ef4723;
            background-color: #ededec;
            padding: 0 20px;
            position: relative;
            top: -10px;
        }
    }
}