:host {
    align-items: center;
    border-top: 2px solid #222;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    width: calc(100% - 4rem);
    margin: 3rem auto 0 auto;

    .footer__menu {
        display: flex;
        flex-direction: column;

        &--link {
            margin: 0.25rem 0;
        }
    }
}